
@using HTTPClients.ClientInterfaces
@inject IUserService UserService;
@inject NavigationManager NavMgr;
@namespace UIComponents


<AuthorizeView>
    <Authorized>
        
        <img class="icon" src="images/Logout.png" @onclick="Logout"/>

        @* <a href="#" @onclick="Logout" class="icon">Log Out</a> *@
    </Authorized>
    <NotAuthorized>
        @* <img class="icon" src="img/Login.png" @onclick="Login"/> *@
        <a href="#" @onclick="RegisterUser" >Register</a>
        <a href="#" @onclick="Login" >Login</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    
    private void RegisterUser() {
        NavMgr.NavigateTo("/RegisterUser");
    }
    private void Login()
    {
        NavMgr.NavigateTo("/Login");
    }

    private async Task Logout()
    {
        await UserService.LogoutAsync();
        NavMgr.NavigateTo("/");
    }
}