.container {
    width: 60%;

}

.mt-6 {
    margin-top: 110px ;
}


.inline{
    display: inline-block;
}

.header {
    display: flex;
}

.flex-container {
    display: flex;
}



.align-right {
    margin-left: 5px; /* or use justify-content: flex-end; */
}
.form-row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    
}

.form-label {
    width: 100px;
    margin-right: 5px;
}

.buttons{
    margin-top: 8%;
}

.card-body{
    margin-top: 6%;
}

.button {
    background: #5E5DF0;
    width: 110px;
    border-radius: 999px;
    color: white;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    margin-right: 10px;
    border: 0;
}

.button:hover,
.button:focus {
    background-color: #403fa3;
}
