@page "/Transaction"
@inject IUserService UserService;
@inject AuthenticationStateProvider StateProvider;
@using Domains.Entity
@using HTTPClients.ClientInterfaces

<body>
<div class="container">
    <h3>Transaction</h3>
    <div class="row">
        <!-- 8 Columns -->
        <div class="col-md-6">
            <div class="form-group">
                <label>@sender</label>
                <label>From</label>
                <div>
                    <select @bind="selectedCardId" class="optionFieldLength">
                        <option selected value="">Select card</option>
                        @* <option value="@user.Card.CardId">@user.Card.CardNumber</option> *@

                    </select>
                </div>
            </div>
        </div>

        <!-- 4 Columns -->
        <div class="col-md-4">
            <div class="card">
                
            </div>
        </div>
    </div>
</div>
</body>

@code {
    private string? sender;
    private string receiver;
    private int amount;
    private DateTime dateTime;
    private int selectedCardId;
    private List<UserEntity> userEntities;
    List<string> usernames;

    protected override async Task OnInitializedAsync() {
        AuthenticationState state = await StateProvider.GetAuthenticationStateAsync();
        sender = state.User.Identity?.Name;
    }

}