@inherits LayoutComponentBase
@namespace BlazorServerApp.Pages
@using UIComponents


<PageTitle>BlazorServerApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row ">
            <AuthorizeView>
                <Authorized>
                    <Notification/>
                </Authorized>
            </AuthorizeView>

            <LoginButtons/>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>